<!DOCTYPE html>
<html>
    <head>
        <title>
            ajax test
        </title>
        <script src="/static/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $('form').on('submit', function(event) {
                    $.ajax({
                        data : {
                            num1: $('#num1').val(),
                            num2: $('#num2').val(),
                        },
                        type : 'POST',
                        url : '/process'
                    })
                    .done(function(data) {
                        //$('#output').text(data.output).show();
                        //alert(data.output);
                        //$('#picture').html('<img src="/static/result.png" alt="result" />').show();
                        let image = new Image();
                        image.src = 'data:image/png;base64,' + data.image_string.substring(2, data.image_string.length-1);
                        $('#picture').html('<img src=' + image.src + ' alt="result" />').show();
                    });
                    event.preventDefault();
                });
            });
        </script>
    </head>
    <body>
        <p><b>AJAX Example:</b></p>
           <form>
                <input type="text" name="num1" id="num1"></input> *
                <input type="text" name="num2" id="num2"></input>
                <button type="submit" class="btn btn-default">submit</button>
           </form>
           <div id="output"></div>
           <div id="picture"></div>
    </body>
</html>

