<!DOCTYPE html>
<html>
    <head>
        <title>
            ajax test
        </title>
        <script src="/static/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $('form').on('submit', function(event) {
                    $.ajax({
                        data : {
                            num1: $('#num1').val(),
                            num2: $('#num2').val(),
                        },
                        type : 'POST',
                        url : '/process'
                    })
                    .done(function(data) {
                        $('#output').text(data.output).show();
                        //alert(data.output);
                    });
                    event.preventDefault();
                });
            });
        </script>
    </head>
    <body>
        <p><b>AJAX Example:</b></p>
           <form name="form1" action="" onsubmit="return ajax_call()">
                <input type="text" name="num1" id="num1"></input> *
                <input type="text" name="num2" id="num2"></input>
                <button type="submit" class="btn btn-default">submit</button>
           </form>
           <div id="output"></div>
    </body>
</html>

